.converter {
    background: #68B605;
    max-width: 100%;
    margin: auto;
    padding: 80px 15px;
    color: #fff;
    width: 640px;
    position: relative;
}

.converter h1 {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.converter input {
    color: #000;
    border-radius: 15px;
    border: solid 1px #fff;
    padding: 5px 10px;
    outline: none;
}

.converter input:read-only {
    background: #ccc;
}

.converter .form_element {
    position: relative;
}

.converter .form_element.submit {
    margin-top: 50px;
    user-select: none;
    outline: none;
}

.converter form .error {
    color: red;
    font-weight: bold;
    position: absolute;
}

.converter .error--form {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: -40px;
    color: red;
    text-align: center;
}

.converter .overlay {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(255,255,255,.5);
    z-index: 10;
}

.converter .overlay .lds-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.converter.loading .overlay {
    display: block;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}