<?php
    $this->headScript()->appendFile($this->basePath('js/index.js'));
    $this->headLink()->appendStylesheet($this->basePath('css/index.css'));
?>

<div class="converter">
    <div class="overlay">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="header row">
        <div class="col-md-12">
            <h1>Currency Converter: RUB to PLN</h1>
        </div>
    </div>
    <div class="content row">

        <div class="col-md-12">
            <div class="error--form" <?php if($this->errors && $this->errors['form']) { ?>style="display: block;"<?php } ?>><?php if($this->errors && $this->errors['form']) echo $this->errors['form']['general']; ?></div>
            <?php
            // within a view script
            $form = $this->form;
            $form->prepare();

            // Set the method attribute for the form
            $form->setAttribute('method', 'post');

            // Render the opening tag
            echo $this->form()->openTag($form);
            ?>
            <div class="form_element col-md-6">
                <?= $this->formRow($form->get('currency1')) ?>
            </div>

            <div class="form_element col-md-6">
                <?= $this->formRow($form->get('currency2')) ?>
            </div>

            <div class="form_element submit col-md-12 text-center">
                <?= $this->formElement($form->get('send')) ?>
            </div>

            <?= $this->formElement($form->get('security')) ?>
            <?= $this->form()->closeTag() ?>
        </div>
    </div>
</div>